TRINETRA_CAMERA_URL=http://PHONE_IP:8080/video
TRINETRA_MODEL_PROVIDER=
TRINETRA_YOLO_CONFIDENCE=0.25
TRINETRA_YOLO_IOU=0.45
TRINETRA_PROCESSING_FPS=15
TRINETRA_VLM_MIN_INTERVAL_MS=1000
TRINETRA_EMERGENCY_DISTANCE_M=0.55
TRINETRA_DANGER_DISTANCE_M=0.90
TRINETRA_WARNING_DISTANCE_M=1.80
TRINETRA_CAUTION_DISTANCE_M=3.50
TRINETRA_ALERT_COOLDOWN_S=2.0
TRINETRA_API_HOST=0.0.0.0
TRINETRA_API_PORT=8000
TRINETRA_TUNNEL_URL=
TRINETRA_DEBUG=false
